{
	"$schema": "https://json.schemastore.org/prettierrc",
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"printWidth": 120,
	"semi": true,
	"singleAttributePerLine": true,
	"singleQuote": false,
	"tabWidth": 2,
	"tailwindStylesheet": "apps/client/src/app.css",
	"trailingComma": "none",
	"useTabs": true
}
